
:root{--pagelayer-color-primary:#007bff;--pagelayer-color-secondary:#6c757d;--pagelayer-color-text:#1d1d1d;--pagelayer-color-accent:#61ce70;--pagelayer-font-primary-font-family:Montserrat;--pagelayer-font-secondary-font-family:Montserrat;--pagelayer-font-text-font-family:Montserrat;--pagelayer-font-accent-font-family:Montserrat;}
.pagelayer-row-stretch-auto > .pagelayer-row-holder, .pagelayer-row-stretch-full > .pagelayer-row-holder.pagelayer-width-auto{ max-width: 1170px; margin-left: auto; margin-right: auto;}
@media (min-width: 781px){
			.pagelayer-hide-desktop{
				display:none !important;
			}
		}

		@media (max-width: 780px) and (min-width: 481px){
			.pagelayer-hide-tablet{
				display:none !important;
			}
			.pagelayer-wp-menu-holder[data-drop_breakpoint="tablet"] .pagelayer-wp_menu-ul{
				display:none;
			}
		}

		@media (max-width: 480px){
			.pagelayer-hide-mobile{
				display:none !important;
			}
			.pagelayer-wp-menu-holder[data-drop_breakpoint="mobile"] .pagelayer-wp_menu-ul{
				display:none;
			}
		}
body.pagelayer-body {font-family:Montserrat;font-size:16px;font-style:normal;font-weight:400;line-height:1.7}
body.pagelayer-body > header{font-family:Montserrat}
body.pagelayer-body .site-main{font-family:Montserrat}
body.pagelayer-body > footer{font-family:Montserrat}
body.pagelayer-body .entry-header{font-family:Montserrat}
body.pagelayer-body .entry-content{font-family:Montserrat}
body.pagelayer-body .entry-footer{font-family:Montserrat}
body.pagelayer-body h1{font-family:Quicksand;font-size:45px;font-style:normal;font-weight:700;overflow-wrap:break-word}
body.pagelayer-body h2{font-family:Quicksand;font-size:40px;font-style:normal;font-weight:700;overflow-wrap:break-word}
body.pagelayer-body h3{font-family:Quicksand;font-size:35px;font-weight:600;overflow-wrap:break-word}
body.pagelayer-body h4{font-family:Quicksand;font-size:30px;font-weight:500;overflow-wrap:break-word}
body.pagelayer-body h5{font-family:Quicksand;font-size:27px;font-style:normal;font-weight:500;overflow-wrap:break-word}
body.pagelayer-body h6{font-family:Quicksand;font-size:24px;font-style:normal;font-weight:500;overflow-wrap:break-word}
@media (max-width: 780px){
	[class^="pagelayer-offset-"],
	[class*=" pagelayer-offset-"] {
		margin-left: 0;
	}

	.pagelayer-row .pagelayer-col {
		margin-left: 0;
		width: 100%;
	}
	.pagelayer-row.pagelayer-gutters .pagelayer-col {
		margin-bottom: 16px;
	}
	.pagelayer-first-sm {
		order: -1;
	}
	.pagelayer-last-sm {
		order: 1;
	}
	

}

