
body.popularfx-body {font-family:Montserrat}
body.popularfx-body p{font-family:Montserrat}
body.popularfx-body h1{font-family:Montserrat}
body.popularfx-body h2{font-family:Montserrat}
body.popularfx-body h3{font-family:Montserrat}
body.popularfx-body h4{font-family:Montserrat}
body.popularfx-body h5{font-family:Montserrat}
body.popularfx-body h6{font-family:Montserrat}
.site-header {background-color:#ffffff!important;}
.site-title a {color:#171717!important;}
.site-title a { font-size: 30 px; }
.site-description {color:#171717 !important;}
.site-description {font-size: 15px;}
.site-footer {background-color:#171717! important;}

